In [ ]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

df=pd.read_csv("/content/College_Admissions.csv")
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [ ]:
new_df=df.drop(['Serial No.'],axis=1)
new_df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [ ]:
print(new_df.shape)

(400, 8)

In [ ]:
# Checking for values which are empty or missing
new_df.isna().sum()

GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [ ]:
new_df.corr(method="pearson")

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
GRE Score,1.000000,0.835977,0.668976,0.612831,0.557555,0.833060,0.580391,0.802610
TOEFL Score,0.835977,1.000000,0.695590,0.657981,0.567721,0.828417,0.489858,0.791594
University Rating,0.668976,0.695590,1.000000,0.734523,0.660123,0.746479,0.447783,0.711250
SOP,0.612831,0.657981,0.734523,1.000000,0.729593,0.718144,0.444029,0.675732
LOR,0.557555,0.567721,0.660123,0.729593,1.000000,0.670211,0.396859,0.669889
CGPA,0.833060,0.828417,0.746479,0.718144,0.670211,1.000000,0.521654,0.873289
Research,0.580391,0.489858,0.447783,0.444029,0.396859,0.521654,1.000000,0.553202
Chance of Admit,0.802610,0.791594,0.711250,0.675732,0.669889,0.873289,0.553202,1.000000

As We can See Chance of Admit is highly Correlated with GRE Score,Toefl Score and CGPA

In [ ]:
# iloc is type of slicing, here we are including all rows and colums upto 6,excluding 7
X=new_df.iloc[:,:6]
y=new_df["Chance of Admit "]
new_df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [ ]:
print(X.shape)
print(y.shape)
X.head()

(400, 6)
(400,)

   GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA
0        337          118                  4  4.5   4.5  9.65
1        324          107                  4  4.0   4.5  8.87
2        316          104                  3  3.0   3.5  8.00
3        322          110                  3  3.5   2.5  8.67
4        314          103                  2  2.0   3.0  8.21

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.05,random_state=13)

In [ ]:
from sklearn.linear_model import LinearRegression
#Linear Regression
Linear=LinearRegression()
Linear.fit(X_train,y_train)
y_pred=Linear.predict(X_test)
y_pred

array([0.72044654, 0.60778383, 0.60860948, 0.61046392, 0.78596611,
       0.65866993, 0.93223888, 0.85481425, 0.51014606, 0.8190242 ,
       0.78364091, 0.83846257, 0.4041218 , 0.50049794, 0.61437408,
       0.63803746, 0.85195685, 0.64607816, 0.59986808, 0.62600823])

In [ ]:
from sklearn.metrics import mean_absolute_error,r2_score
print("the accuracy or the R2 score of the model is ",r2_score(y_pred,y_test))
print("mean_absolute_error  of the model is ",mean_absolute_error(y_pred,y_test))

the accuracy or the R2 score of the model is  0.7509899282766832
mean_absolute_error  of the model is  0.05278424127822674

We have used the mean absolute eror because we are dealing with a continuous value which is suitable for the mean absolute error.
methods like precision or f1 would have been opted if the output was related to the classification amongst categories.